@model ReporteTransacciones

@{
    ViewData["Title"] = "Reporte de Transacciones";
}

<h1>Transacciones
    <a asp-action="Crear" class="btn btn-success" style="float: right;">Crear Transacción</a>
</h1>
<hr />

<partial name="_SubMenu" model="SubMenuModel.Diario"><partial/>
<partial name="_ReporteTransaccionesDetalladas" model="Model"></partial>