@model CategoriaModel

@{
    ViewData["Title"] = "Editar Categoría";
}

<h1>Editar Categoría</h1>
<h5>La categoría nos permite indicar en qué gastamos nuestro dinero, 
    también, de dónde provinene nuestros ingresos. 
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Editar">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoOperacionID" class="form-label"></label>
        <select asp-for="TipoOperacionID" asp-items="Html.GetEnumSelectList<TipoOperacionModel>()" class="form-select"></select>
        <span asp-validation-for="TipoOperacionID" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Actualizar</button>
    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}